<p style="color: green"><%= notice %></p>

<% content_for :title, "Songs" %>

<h1>MP3 individuels</h1>

<%= link_to "Ajouter un MP3", new_song_path %>


<% if @songs.count > 0 %>
<div id="songs">
  <% @songs.each do |song| %>
    <p>
      <%= song.title %> 
      <%= link_to "Montrer cette piste audio", song %>
    </p>
  <% end %>
</div>
<% end %>

<%= paginate @songs %>

