<div id="<%= dom_id album %>">
  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= album.description %>
  </p>

  <p>
    <strong>Web link:</strong>
    <%= album.web_link %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= album.year %>
  </p>

</div>
